<% provide(:title, @team.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
          <%= @team.name %>
      </h1>
      <dl class="dl-horizontal">
        <dt>Owner</dt>
          <dd><%= link_to "#{@team.user.name}", @team.user %></dd>
        <dt>Ground</dt>
          <dd><%=link_to "#{@team.ground.name}", [@team, @team.ground] %></dd>
        <dt>Country</dt>
          <dd><%= @team.country.name %></dd>
      </dl>
    </section>  
  </aside>
  <div class="span8 team-list">
    <h3>Team Roster</h3>
    <% if current_user?(@team.user)%>
    <%=link_to "Edit Roster", edit_user_team_path(@team.id, @team.user_id), class: "btn" %>
    <% end %>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Specialism</th>
        </tr>
      </thead>
      <tbody>
        <% @team.team_memberships.each do |team_member| %>
        <tr>
          <td><%=link_to "#{team_member.player.full_name}", team_member.player %></td>
          <td><%= team_member.player.age %></td>
          <td><%= team_member.player.specialism.specialism %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

