<% provide(:title, @team.name) %>
<h1><%= @team.name %></h1>
<h2><%= @team.country.name %></h2>
<h2>Owned by: <%= link_to "#{@team.user.name}", @team.user %></h2>

<ul class="players">
  <% @team.team_memberships.each do |team_member| %>
  <li id="<%= team_member.player_id %>"><%= link_to "#{team_member.position} - #{player_name(team_member.player)}, #{age(team_member.player.dob)}", [@team, team_member.player] %></li>
  <% end %>
</ul>

