<% provide(:title, @team.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
          <%= @team.name %>
      </h1>
      <dl class="dl-horizontal">
        <dt>Owner</dt>
          <dd><%= link_to "#{@team.user.name}", @team.user %></dd>
        <dt>Ground</dt>
          <dd><%=link_to "#{@team.ground.name}", [@team, @team.ground] %></dd>
        <dt>Country</dt>
          <dd><%= @team.country.name %></dd>
      </dl>
    </section>  
  </aside>
  <div class="span8">
    <h3>Team Roster</h3>
    <ul class="players nav nav-tabs nav-stacked"> 
      <% @team.team_memberships.each do |team_member| %>
      <li class ="player_list" id="<%= team_member.player_id %>"><%= link_to "#{team_member.position} - #{player_name(team_member.player)}, #{age(team_member.player.dob)}", [@team, team_member.player] %></li>
      <% end %>
    </ul>
  </div>
</div>

