<% provide(:title, 'Players') %>
<h1>Players</h1>

  <% if admin? %>
<div class="btn-group admin">
    <%= link_to "Download CSV", players_path(format: "csv"), class: "btn" %>
    <%= link_to "Add new player", new_player_path, class: "btn" %>
</div>
  <% end %>

<div class="row">
<%= render 'player_list', player: @players_bat, title: "Batters" %>
<%= render 'player_list', player: @players_bowl, title: "Bowlers" %>
<%= render 'player_list', player: @players_whi, title: "Wicket Keepers" %>
<%= render 'player_list', player: @players_all, title: "All Rounders" %>
</div>