<% provide(:title, player_name(@player)) %>
<h1><%= player_name(@player) %></h1>

<dl class="dl-horizontal">
  <dt>Age</dt>
    <dd><%= age(@player.dob) %></dd>
  <dt>Country of Birth</dt>
    <dd><%= @player.country.name %></dd>
  <dt>Specialism</dt>
    <dd><%= @player.specialism.specialism %></dd>
  <dt>Hand</dt>
    <dd><%= @player.hand %></dd>
  <dt>Biography</dt>
    <dd><%= @player.biography %></dd>
</dl>

